@{
	ViewData["Title"] = "Register";
	var errorMessage = TempData["Error"] as string;
	var passwordsDoNotMatchErrorMessage = TempData["PasswordsDoNotMatchError"] as string;
}

<div class="register">
	<form action="/register" method="post">
		@if (!string.IsNullOrEmpty(errorMessage))
		{
			<label>@errorMessage</label>
		}
		<input type="email" name="email" placeholder="Email" required>
		<input type="text" name="username" placeholder="Username" required>
		<input type="password" name="password" placeholder="Password" required>
		<input type="password" name="confirmedPassword" placeholder="Password" required>
		<button type="submit">Sign In</button>
		<label>Already have an account? <a href="/Auth/Login">Login</a></label>
	</form>
</div>
